$dark: #280a50;
$blue: #2d4362;
$white: #d3d3d5;
$brown: #3d1472;
$light-brown: #ff574c;
.App {
  font-size: 18px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  // font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}

button {
  margin-top: 5px;
  padding: 12px 18px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  background: $white;
  color: black;
  transition: border 0.5s ease-out, color 0.5s ease-out,
    background-color 0.5s ease-out;
  text-transform: uppercase;
  border-radius: 8px;
  outline: none;
  border: 0px;
}
@media screen and (max-width: 759px) {
  button {
    margin-top: 3vh;
  }
}
