$dark: #363237;
$blue: #2d4362;
$brown: #73605b;
$light-brown: #d09683;

.characters-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-flow: row wrap;
  background-color: $dark;
  color: $light-brown;
  min-height: 50vh;
}
.character-details-box {
  top: 0;
  height: 50vh;
  width: 100vw;
  position: fixed;
  background-color: $dark;
}
.character-details-box p {
  padding: 0px 50px;
}
.character-details .stats-image {
  width: 5vw;
  height: auto;
  margin-right: 1vw;
  margin-left: 1vw;
}
.stats-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroes-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 50vh;
}

.character-details-box h2 {
  height: 5vh;
  margin: 0;
  font-family: "Permanent Marker", cursive;
}
.character-details-box img {
  height: 45vh;
  width: 40vw;
  float: left;
}
.character-details {
  height: 40vh;
  width: 60vw;
  margin-left: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.stats-container p {
  margin: 0px 10px;
}
.characters-container .character_box img {
  height: 25vh;
}
.characters-container button {
  position: absolute;
  margin-left: 5vw;
  background-color: $blue;
}
@media screen and (max-width: 759px) {
  .character-details .stats-image {
    width: 9vw;
    height: auto;
    margin-right: 1px;
    margin-left: 1px;
  }
  .character-details-box p {
    padding: 0px 5px;
  }
  .character-details p {
    font-size: 0.8rem;
  }
  .characters-container button {
    padding: 5px;
  }
}
