$dark: #280a50;
$blue: #ffb20a;
$brown: #3d1472;
$light-brown: #ff574c;
$white: #d3d3d5;

.exp-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: $dark;
  color: $dark;
  background: linear-gradient(120deg, #3d1472 50%, #280a50 50%);
}
.exp-container h2 {
  color: $light-brown;
}
.exp-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  color: $light-brown;
}
.exp-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.exp-row img {
  width: 50px;
  margin-left: 2vw;
}
.exp-container {
  color: $white;
}
@media screen and (max-width: 759px) {
  .exp-container h2 {
    margin-top: 30vh;
    color: $light-brown;
    font-size: 1.5rem;
  }
  .exp-container h3 {
    font-size: 1.4rem;
  }
  .exp-container h4 {
    font-size: 1.2rem;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .exp-box {
    margin-top: 0vh;
  }
  .exp-row img {
    width: 40px;
  }
}
