$dark: #280a50;
$blue: #2d4362;
$white: #d3d3d5;
$brown: #3d1472;
$light-brown: #ff574c;

.hero-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  color: $light-brown;
}
.hero-container h2 {
  color: $white;
}
.hero-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}
.left-items,
.right-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 2vw;
}
.left-items img,
.right-items img {
  margin-top: 1vh;
  height: 10vh;
}
.hero-image {
  background-color: $brown;
  border: 4px solid white;
  border-radius: 10%;
  padding: 5px;
  width: 30vw;
}
.hero-image img {
  width: 15vw;
}
.hero-image h5 {
  margin-top: 2vh;
  color: white;
}

.hero-items-box {
  background-color: $brown;
  border-radius: 5%;
  padding: 0px 10px 0px 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 30vh;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-items-box h4 {
  color: white;
}
.hero-container h4 {
  font-family: "Permanent Marker", cursive;
}
.hero-items-box p {
  width: 20vw;
}
@media screen and (max-width: 759px) {
  .left-items,
  .right-items {
    margin: 0px 1vw;
  }
  .left-items img,
  .right-items img {
    margin-top: 1vh;
    height: 6vh;
  }
  .hero-image {
    margin-top: 35vh;
    border: 2px solid white;
    padding: 2px;
    border-radius: 0%;
  }
  .hero-image h3 {
    font-size: 1.2rem;
  }
  .hero-image h4 {
    font-size: 1rem;
  }
  .hero-image h5 {
    margin-top: 1vh;
    font-size: 0.9rem;
  }
  .hero-image p {
    font-size: 0.8rem;
  }
  .hero-items-box:nth-child(1) {
    margin-top: 30vh;
  }
  .hero-items-box {
    background-color: $brown;
    border-radius: 5%;
    padding: 0px 10px 0px 10px;
    margin-top: 0vh;
    margin-bottom: 1vh;
    height: auto;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-items-box h4 {
    font-size: 0.9rem;
  }
  .hero-items-box p {
    font-size: 0rem;
    margin-bottom: 0;
  }
  .description2 {
    width: 26vw;
    font-size: 0.8rem !important;
  }
}
