$dark: #363237;
$blue: #2d4362;
$brown: #73605b;
$light-brown: #d09683;

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark;
}
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $brown;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.login-registration-container {
  display: flex;
  flex-direction: row;
  color: $light-brown;
}
.login-choice,
.registration-choice {
  width: 10vw;
  height: 10vh;
  border: 1px $light-brown solid;
}
.login-choice {
  border-bottom-left-radius: 30%;
}
.registration-choice {
  border-bottom-right-radius: 30%;
}
.login-container input {
  background-color: $light-brown;
  margin-top: 3vh;
  width: 10vw;
  height: 5vh;
  padding: 0;
  color: $dark;
}
.login-container input:hover {
  opacity: 0.6;
}
.login-container button {
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: $blue;
  color: $brown;
}
.login-container button:hover {
  color: $light-brown;
}
