$dark: #280a50;
$blue: #2d4362;
$white: #d3d3d5;
$brown: #3d1472;
$light-brown: #ff574c;

.mission-box3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mission-description {
  width: auto;
  min-width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2vh;
  background-color: $dark;
  color: $white;
  border-radius: 10px;
}
.mission-button {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: $blue;
  color: $light-brown;
}
.mission-description h5,
.fight-description h5 {
  border: 4px solid $light-brown;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  background-color: $light-brown;
  color: $white;
}
@media screen and (max-width: 759px) {
  .mission-description {
    width: auto;
    min-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1vh;
    border-radius: 10px;
  }
  .mission-description h5,
  .fight-description h5 {
    border: 4px solid $light-brown;
    border-radius: 50%;
    padding: 2px;
    font-size: 1rem;
    margin-top: 5px;
  }
  .mission-container .location-box2 {
    width: 60vw;
  }
  .mission-button {
    margin-top: 5px;
  }
}
