$yellow: rgb(100%, 80.784314%, 0%);
$orange: #d9723e;
$brown: rgb(67.058824%, 35.294118%, 11.372549%);
.hero-exp {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.hero-exp p {
  margin-left: -6px;
  margin-bottom: 0px;
  background-color: #c9394a;
  padding: 5px 10px;
}
.hero-attack p {
  margin-right: -6px;
  background-color: $brown;
  margin-bottom: 0px;
  padding: 5px 10px;
}
.hero-magic p {
  margin-right: -6px;
  background-color: $yellow;
  margin-bottom: 0px;
  padding: 5px 10px;
}
.hero-life p {
  margin-right: -6px;
  background-color: $brown;
  margin-bottom: 0px;
  padding: 5px 10px;
}
.hero-lucky p {
  margin-right: -6px;
  background-color: $yellow;
  margin-bottom: 0px;
  padding: 5px 10px;
}
.hero-gold p {
  margin-right: -6px;
  background-color: $brown;
  margin-bottom: 0px;
  padding: 5px 10px;
}
.hero-gold,
.hero-attack,
.hero-magic,
.hero-life,
.hero-lucky {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

.hero-magic {
  top: 118px;
}
.hero-life {
  top: 228px;
}
.hero-lucky {
  top: 338px;
}
.hero-gold {
  top: 448px;
}

.hero-exp img,
.hero-gold img,
.mission img,
.hero img,
.hero-attack img,
.hero-magic img,
.hero-life img,
.hero-lucky img,
.boss img {
  z-index: 2;
  width: 100px;
  cursor: url("../items/rotate-beer.png") 10 0, auto !important ;
}

.mission {
  position: absolute;
  top: 118px;
  left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.mission p {
  padding: 5px 10px;
}
.mission p {
  margin-left: -6px;
  margin-bottom: 0px;
  background-color: #d9723e;
}
.hero {
  position: absolute;
  top: 228px;
  left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.hero p {
  padding: 5px 10px;
  margin-left: -6px;
  margin-bottom: 0px;
  background-color: #80b4fb;
}
.boss {
  position: absolute;
  top: 338px;
  left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.boss p {
  padding: 5px 10px;
  margin-bottom: 0px;
  margin-left: -6px;
  background-color: #665b5b;
  color: #69af54;
}

@media screen and (max-width: 759px) {
  .hero-exp p {
    padding: 0px 2px 0px 8px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }
  .hero-attack p {
    padding: 0px 8px 0px 2px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }
  .hero-magic p {
    padding: 0px 8px 0px 2px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }
  .hero-life p {
    padding: 0px 8px 0px 2px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }
  .hero-lucky p {
    padding: 0px 8px 0px 2px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }
  .hero-gold p {
    padding: 0px 8px 0px 2px;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }

  .hero-magic {
    top: 38px;
  }
  .hero-life {
    top: 68px;
  }
  .hero-lucky {
    top: 98px;
  }
  .hero-gold {
    top: 128px;
  }

  .hero-exp img,
  .hero-gold img,
  .mission img,
  .hero img,
  .hero-attack img,
  .hero-magic img,
  .hero-life img,
  .hero-lucky img,
  .boss img {
    z-index: 2;
    width: 30px;
  }

  .mission {
    top: 48px;
  }
  .hero {
    top: 78px;
  }
  .boss {
    top: 108px;
  }
  .mission p {
    padding: 0px 2px 0px 8px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    border-bottom-right-radius: 40%;
  }
  .hero p {
    padding: 0px 2px 0px 8px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    border-bottom-right-radius: 40%;
  }
  .boss p {
    padding: 0px 2px 0px 8px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    border-bottom-right-radius: 40%;
  }
}
